body {
  background-image: url("https://media.istockphoto.com/id/1326827946/es/vector/sin-fin-de-patrones-sin-fisuras-en-blanco-y-negro-de-alimentos-y-aperitivos-iconos.jpg?s=612x612&w=0&k=20&c=b83blMAXgSKmmi7sIxuHm6Ie06xz8aAT-tnbfesbUTg=");
  background-size: 50%;
  backdrop-filter: blur(1.2px);
}

